* {
    margin: 0;
}

html,
body {
    height: 100%;
}

button > img {
    height: 1rem;
    align-self: center;
}

.container {
    display: grid;
    grid:
    'sidebar header' 1fr
    'sidebar main-content' 4fr
    / 1fr 4fr;
    min-height: 100%;
}

.sidebar {
    background-color: #4169E1;
    grid-area: sidebar;
}

.sidebar img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

#logo-section {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
}

#main-tabs,
#auxiliary-tabs {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 0.5rem;
    align-items: center;
    padding-left:1.7rem;
    color: white;
}

#main-tabs {
    padding-bottom: 4rem;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#header-top {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

#search-bar-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    gap: 0.5rem;
    padding-left: 3rem;
}

#search-bar-id {
    border-radius: 20px;
    border: none;
    background-color: lightgray;
}

#search-bar-id:focus {
    outline: none;
}

#user-interface {
    display: grid;
    grid-template-columns: 1rem 1.7rem auto;
    align-items: center;
    justify-content: right;
    padding-left: 6rem;
    padding-right: 3rem;
    gap: 1.5rem;
}

#user-interface > button {
    border: none;
    background-color: transparent;
}

.user-icon {
    height: 1.7rem;
}

.user-icon,
#user-profile {
    background-color: goldenrod;
    border-radius: 50%;
}

#header-bot {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 3fr;
}

.header-profile {
    display: grid;
    grid-template-columns: 3rem 1fr;
    padding-left: 3rem;
    gap: 0.5rem;
}

#user-profile {
    height: 3rem;
}

.header-profile p {
    font-size: small;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    justify-content: right;
    gap: 2rem;
    padding-right: 3rem;
}

.header-button {
    border-radius: 2rem;
    width: 5rem;
    height: 2rem;
    background-color: #4169E1;
    color: white;
    font-weight: bold;
    border: none;
}

.main-content {
    background-color: beige;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 7fr 3fr;
    background-color: rgb(162, 201, 203);
    padding-left: 1rem;
    padding-top: 1rem;
}

.main-content h4 {
    padding-bottom: 0.5rem;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

.card {
    background: linear-gradient(90deg, orange 0% 3%, white 3% 100%);
    border-radius: 5px;
    height: 105px;
    display: grid;
    grid-template-rows: 1rem 1fr 1rem;
    padding-block: 5px;
    padding-inline: 20px;
}

.card > p {
    font-size: 12px;
    color: rgb(106, 106, 106);
}

.card-button {
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    gap: 1rem;
    justify-content: right;
}

.card-button > button {
    border: none;
    background-color: transparent;
}

#other-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-inline: 1rem;
}

#announcements-area {
    background-color: #fff;
    padding-block: 5px;
    padding-inline: 20px;
    height: 80%;
    border-radius: 5px;
}

#announcements-area div:nth-child(3) {
    border: none;
    padding-block: 0px;
}

.announcement {
    border-bottom: solid gray 2px;
    padding-block: 10px;
}

.announcement > p {
    font-size: 10px;
    color: rgb(106, 106, 106);
}

#trending {
    background-color: #fff;
    padding-block: 5px;
    padding-inline: 10px;
    height: 73%;
    border-radius: 5px;
    display: grid;
    gap: 10px;
}

.trending-user {
    display: grid;
    grid-template-columns: 1.7rem 1fr;
    gap: 1rem;
}

.user-info > p {
    font-size: 12px;
    color: rgb(106, 106, 106);
}