* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.container {
    display: grid;
    grid:
    'sidebar header' auto
    'sidebar main-content' auto
    / 1fr 4fr;
    min-height: 100%;
}

.sidebar {
    background-color: #4169E1;
    grid-area: sidebar;
}

#logo-section {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
}

#main-tabs,
#auxiliary-tabs {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 0.5rem;
    align-items: center;
    padding-left:1.7rem;
    color: white;
}

#main-tabs {
    padding-bottom: 4rem;
}

.header {
    background-color: tan;
    grid-area: header;
}

.main-content {
    background-color: beige;
    grid-area: main-content;
}